.form {
  background-color: var(--color-dark--2);
  border-radius: 7px;
  padding: 2rem 3rem;
  width: 100%;
  display: flex;
  overflow-y: scroll;
  overflow-x: auto;
  flex-direction: column;
  gap: 2rem;
}
.form::-webkit-scrollbar{
  width: 0;
}
.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.flag {
  position: absolute;
  right: 1rem;
  top: 3.9rem;
  font-size: 2.2rem;
}

.form.loading {
  opacity: 0.3;
}

.form.loading button {
  pointer-events: none;
  background-color: var(--color-light--1);
  border: 1px solid var(--color-light--1);
  color: var(--color-dark--0);
}

:global(.react-datepicker) {
  font-family: inherit;
  font-size: 1.2rem;
  transform: scale(1.5); /* zoom the calendar */

}
:global(.react-datepicker__view-calendar-icon input){
  padding:0.5rem 1rem 0.5rem 3rem !important;
}
:global(.react-datepicker__calendar-icon){
  padding: 0.8rem !important;
  width: 1.6rem !important;
  height: 1.6rem !important;
}
